<div class="sidebar-section-header p-d-flex p-ai-center p-jc-between">
  <button (click)="toggleExpanded()" type="button" pButton icon="pi pi-play" iconPos="left" class="p-button-rounded"
    styleClass="add-button">
  </button>
  <strong class="p-text-bold">{{headerText}}</strong>
  <button (click)="createGroup()" type="button" pButton icon="pi pi-plus" iconPos="left" class="p-button-rounded"
    styleClass="add-button">
  </button>
</div>
<div class="sidebar-section-content">
  <ng-container *ngFor="let group of groups">
    <app-sidebar-section-group [name]="group.name" [content]="group.content"></app-sidebar-section-group>
  </ng-container>
</div>
