:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-primary);
  padding: 0;

  #main-container {
    display: flex;
    flex: 1;
    margin-bottom: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    app-sidebar {
      margin-right: 1rem;
      flex: 0.2;
      overflow: auto;
    }
    main#main-view {
      background-color: var(--color-light);
      border-radius: var(--default-border-radius);
      flex-grow: 1;
      overflow: auto;
    }
  }
}
