:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-primary);
  padding: 0;

  #main-container {
    display: flex;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin-bottom: 1rem;
    margin-right: 1rem;
    app-sidebar {
      margin-right: 1rem;
      width: 15%;
    }
    main#main-view {
      background-color: var(--color-light);
      border-radius: 15px;
      flex-grow: 1;
    }
  }
}
