:host {
  .sidebar-section-group-header {
    color: var(--text-light-gray);
    padding: 0 0.5rem;
    height: 2rem;
    .p-button {
      background-color: transparent;
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .sidebar-section-group-item {
    padding: 0 2rem;
    height: 2rem;
  }
}
