:host {
  .sidebar-section-group-header {
    color: var(--text-light-gray);
    padding: 0 0.5rem;
    height: 2rem;
    &.expanded {
      ::ng-deep {
        .toggle-button .p-button-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
  .sidebar-section-group-content {
    overflow: hidden;
    display: none;
    &.expanded {
      display: block;
    }
    .sidebar-section-group-item {
      padding: 0 2rem;
      height: 2rem;
    }
  }
}
